@font-face {
  font-display: swap;
  font-family: "Lexend Deca";
  src: url("../fonts/lexend-deca-v17-latin-regular.eot");
  src: url("../fonts/lexend-deca-v17-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lexend-deca-v17-latin-regular.woff2") format("woff2"), url("../fonts/lexend-deca-v17-latin-regular.woff") format("woff"), url("../fonts/lexend-deca-v17-latin-regular.ttf") format("truetype"), url("../fonts/lexend-deca-v17-latin-regular.svg#LexendDeca") format("svg");
}
@font-face {
  font-display: swap;
  font-family: "Space Mono";
  src: url("../fonts/space-mono-v12-latin-regular.eot");
  src: url("../fonts/space-mono-v12-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/space-mono-v12-latin-regular.woff2") format("woff2"), url("../fonts/space-mono-v12-latin-regular.woff") format("woff"), url("../fonts/space-mono-v12-latin-regular.ttf") format("truetype"), url("../fonts/space-mono-v12-latin-regular.svg#SpaceMono") format("svg");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Lexend Deca";
  overflow-x: hidden;
  background-color: #F2F2F2;
}

.container {
  max-width: 1106px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  max-width: 180px;
  height: 53px;
  background-color: #FCB72B;
  cursor: pointer;
  padding: 14px 39px;
  font-size: 15px;
  line-height: 25px;
  font-family: "Space Mono";
  color: #FFFFFF;
  border: none;
}

.btn:hover {
  border: 3px solid #FCB72B;
  background-color: #F2F2F2;
  color: #FCB72B;
  transition: 0.5s;
  text-align: center;
  max-width: 100%;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.05);
  background-color: #F2F2F2;
  z-index: 30;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 0;
}
.nav__check {
  display: none;
}
.nav__lable {
  display: none;
}
@media screen and (max-width: 666px) {
  .nav__lable {
    display: block;
  }
}
@media screen and (max-width: 666px) {
  .nav {
    max-width: 60%;
    justify-content: space-between;
  }
}
.nav__input {
  display: none;
}
.nav__link-logo {
  max-width: 107.82px;
  max-height: 28.56px;
}
.nav__menus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
@media screen and (max-width: 666px) {
  .nav__menus {
    flex-direction: column;
    background-color: #333A44;
    position: fixed;
    max-width: 256px;
    top: 105px;
    height: 485px;
    padding-top: 64px;
    padding-bottom: 24px;
    padding-left: 32px;
    align-items: baseline;
    left: -100%;
  }
}
.nav__menus-menu {
  display: flex;
  align-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
@media screen and (max-width: 666px) {
  .nav__menus-menu {
    flex-direction: column;
    row-gap: 24px;
    align-items: baseline;
  }
}
.nav__menus-menu--link {
  font-family: "Space Mono";
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
  color: #939CAA;
}
@media screen and (max-width: 666px) {
  .nav__menus-menu--link {
    color: #E5ECF4;
  }
}

.nav__input:checked ~ .nav__menus {
  left: 0%;
  transition: 0.5s;
}

.nav__input:checked ~ .nav__check {
  display: block;
  justify-content: start;
}

.nav__input:checked ~ .nav__lable {
  display: none;
}

.bitmap {
  background-image: url(../images/Bitmap.png);
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 125px;
  padding-top: 153px;
  position: relative;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .bitmap {
    background-image: url(../images/Bitmap@2x.png);
    height: 663px;
  }
}
@media screen and (max-width: 992px) {
  .bitmap {
    background-image: url(../images/Bitmap-tablet.png);
    height: 650px;
  }
}
@media only screen and (max-width: 992px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 992px) and (min-device-pixel-ratio: 2), only screen and (max-width: 992px) and (min-resolution: 192dpi), only screen and (max-width: 992px) and (min-resolution: 2dppx) {
  .bitmap {
    background-image: url(../images/Bitmap@2x-tablet.png);
    height: 780px;
  }
}
@media screen and (max-width: 666px) {
  .bitmap {
    background-image: url(../images/Bitmap-mobile.png);
    height: 650px;
    margin-top: 105px;
  }
}
@media only screen and (max-width: 666px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 666px) and (min-device-pixel-ratio: 2), only screen and (max-width: 666px) and (min-resolution: 192dpi), only screen and (max-width: 666px) and (min-resolution: 2dppx) {
  .bitmap {
    background-image: url(../images/Bitmap@2x-mobile.png);
    height: 1028px;
  }
}
.bitmap h1 {
  font-family: "Space Mono";
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
  margin-bottom: 40px;
  max-width: 500px;
}
@media screen and (max-width: 992px) {
  .bitmap h1 {
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -2.5px;
    max-width: 573px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 666px) {
  .bitmap h1 {
    max-width: 311px;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -1.78571px;
  }
}
.bitmap .blockm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
  position: absolute;
  left: -1px;
}
@media screen and (max-width: 992px) {
  .bitmap .blockm {
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }
}
.bitmap .blockm__line {
  max-width: 202px;
}
@media screen and (max-width: 992px) {
  .bitmap .blockm__line {
    display: none;
  }
}
.bitmap .blockm__texts {
  margin: 0 57px;
}
@media screen and (max-width: 992px) {
  .bitmap .blockm__texts {
    text-align: center;
    margin: 0 140px;
  }
}
.bitmap .blockm__texts-decoration {
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  max-width: 405px;
  margin-bottom: 40px;
}
@media screen and (max-width: 992px) {
  .bitmap .blockm__texts-decoration {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    max-width: 573px;
    margin: 24px 0 32px 0;
  }
}
@media screen and (max-width: 666px) {
  .bitmap .blockm__texts-decoration {
    min-width: 311px;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }
}
.bitmap .blockm__st {
  max-width: 447px;
}
@media screen and (max-width: 992px) {
  .bitmap .blockm__st {
    margin-top: 220px;
    position: absolute;
    left: -127px;
  }
}
@media screen and (max-width: 666px) {
  .bitmap .blockm__st {
    margin-top: 7px;
    left: -275px;
  }
}
@media (max-width: 570px) {
  .bitmap .blockm__st {
    margin-top: 330px;
  }
}

.about {
  background-image: url(../images/Bitmap-about.png);
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 125px;
  padding-top: 72px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .about {
    background-image: url(../images/Bitmap@2x-about.png);
  }
}
@media screen and (max-width: 666px) {
  .about {
    background-image: url(../images/Bitmap-about-mobile.jpg);
    height: 160px;
  }
}
@media only screen and (max-width: 666px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 666px) and (min-device-pixel-ratio: 2), only screen and (max-width: 666px) and (min-resolution: 192dpi), only screen and (max-width: 666px) and (min-resolution: 2dppx) {
  .about {
    padding-top: 60px;
    margin-top: 105px;
    background-image: url(../images/Bitmap@2x-about-mobile.png);
  }
}
.about .title {
  font-family: "Space Mono";
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
}
@media screen and (max-width: 992px) {
  .about .title {
    display: none;
  }
}
@media screen and (max-width: 666px) {
  .about .title {
    display: block;
    text-align: center;
  }
}
.about .rounds {
  display: none;
}
@media screen and (max-width: 992px) {
  .about .rounds {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (max-width: 666px) {
  .about .rounds {
    display: none;
  }
}
.about .rounds__title {
  font-family: "Space Mono";
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
}
.about .rounds__round-flex {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media screen and (max-width: 992px) {
  .about .rounds__round-flex {
    position: absolute;
    right: -42px;
  }
}
.about .rounds__round-flex--round {
  border-radius: 50%;
  border: 3px solid #FFFFFF;
  min-width: 62px;
  height: 62px;
}
.about .rounds__round-flex--white {
  border-radius: 50%;
  background-color: #FFFFFF;
  min-width: 62px;
  height: 62px;
}

.careers {
  background-image: url(../images/Bitmap-careers.png);
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 125px;
  padding-top: 72px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .careers {
    background-image: url(../images/Bitmap@2x-careers.png);
  }
}
@media screen and (max-width: 666px) {
  .careers {
    background-image: url(../images/Bitmap-careers-mobile.jpg);
    height: 160px;
  }
}
@media only screen and (max-width: 666px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 666px) and (min-device-pixel-ratio: 2), only screen and (max-width: 666px) and (min-resolution: 192dpi), only screen and (max-width: 666px) and (min-resolution: 2dppx) {
  .careers {
    padding-top: 60px;
    margin-top: 105px;
    background-image: url(../images/Bitmap@2x-careers-mobile.png);
  }
}
.careers .title {
  font-family: "Space Mono";
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
}
@media screen and (max-width: 992px) {
  .careers .title {
    display: none;
  }
}
@media screen and (max-width: 666px) {
  .careers .title {
    display: block;
    text-align: center;
  }
}
.careers .rounds {
  display: none;
}
@media screen and (max-width: 992px) {
  .careers .rounds {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (max-width: 666px) {
  .careers .rounds {
    display: none;
  }
}
.careers .rounds__title {
  font-family: "Space Mono";
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
}
.careers .rounds__round-flex {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media screen and (max-width: 992px) {
  .careers .rounds__round-flex {
    position: absolute;
    right: -42px;
  }
}
.careers .rounds__round-flex--round {
  border-radius: 50%;
  border: 3px solid #FFFFFF;
  min-width: 62px;
  height: 62px;
}
.careers .rounds__round-flex--white {
  border-radius: 50%;
  background-color: #FFFFFF;
  min-width: 62px;
  height: 62px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 160px;
}
@media screen and (max-width: 992px) {
  .cards {
    margin-top: 122px;
    flex-direction: column;
    background-image: url(../../../scoot/icons/backtline.svg);
    background-repeat: no-repeat;
    background-position-x: 206px;
    background-position-y: -122px;
  }
}
@media screen and (max-width: 666px) {
  .cards {
    background-image: none;
    margin-top: 120px;
  }
}
@media screen and (max-width: 992px) {
  .cards__card {
    display: flex;
    align-items: center;
    -moz-column-gap: 79px;
         column-gap: 79px;
  }
}
@media screen and (max-width: 666px) {
  .cards__card {
    flex-direction: column;
    margin-top: 48px;
  }
}
.cards__card-round {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 96px;
  min-height: 96px;
  border-radius: 50%;
  background-color: #FCB72B;
}
@media screen and (max-width: 666px) {
  .cards__card-round img {
    max-width: 22px;
    min-height: 27px;
  }
}
@media screen and (max-width: 992px) {
  .cards__card-round {
    min-width: 96px;
  }
}
@media screen and (max-width: 666px) {
  .cards__card-round {
    min-width: 56px;
    min-height: 56px;
  }
}
.cards__card-text--title {
  font-family: "Space Mono";
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
  margin: 40px 0 27px 0;
}
@media screen and (max-width: 666px) {
  .cards__card-text--title {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.892857px;
    margin: 24px 0 24px 0;
  }
}
.cards__card-text--decoration {
  max-width: 350px;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}
@media screen and (max-width: 992px) {
  .cards__card-text--decoration {
    min-width: 398px;
  }
}
@media screen and (max-width: 666px) {
  .cards__card-text--decoration {
    min-width: 311px;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }
}

.r {
  background-image: url(../icons/Mask.svg);
  background-repeat: no-repeat;
  background-position-x: 1332px;
}

.telemetry {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 266px;
}
@media screen and (max-width: 992px) {
  .telemetry {
    flex-direction: column;
    row-gap: 56px;
  }
}
.telemetry__webpimgs {
  position: relative;
}
.telemetry__webpimgs-topper {
  position: absolute;
  left: -171px;
  top: -4px;
}
@media (max-width: 570px) {
  .telemetry__webpimgs-topper {
    position: absolute;
    left: -26px;
    top: 121px;
  }
}
@media screen and (max-width: 992px) {
  .telemetry__text {
    order: 2;
    text-align: center;
  }
}
.telemetry__text-title {
  font-family: "Space Mono";
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  max-width: 445px;
}
@media screen and (max-width: 992px) {
  .telemetry__text-title {
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2.14286px;
    min-width: 457px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 666px) {
  .telemetry__text-title {
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -1.42857px;
    min-width: 311px;
  }
}
.telemetry__text-decoration {
  max-width: 445px;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  margin: 24px 0 40px 0;
}
@media screen and (max-width: 992px) {
  .telemetry__text-decoration {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    min-width: 573px;
  }
}
@media (max-width: 570px) {
  .telemetry__text-decoration {
    min-width: 311px;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }
}
.telemetry__both {
  position: relative;
}
@media screen and (max-width: 992px) {
  .telemetry__both {
    order: 1;
  }
}
.telemetry__both-st {
  position: absolute;
  right: -165px;
  bottom: 0;
}
@media screen and (max-width: 666px) {
  .telemetry__both-st {
    position: absolute;
    right: 5px;
  }
}

.n {
  border-radius: 50%;
}

.webp {
  background-image: url(../icons/MaskCopy.svg);
  background-repeat: no-repeat;
  background-position-x: 20px;
}

.oip {
  background-image: url(../icons/MaskCopy.svg);
  background-repeat: no-repeat;
  background-position-x: 20px;
}
.oip .for {
  position: relative;
}
.oip .for__radius {
  border-radius: 50%;
}
.oip .for__deg {
  position: absolute;
  top: 84px;
  right: -165px;
}

.b {
  min-width: 445px;
  min-height: 445px;
}

.secondPage1 {
  background-image: url(../icons/Mask.svg);
  background-repeat: no-repeat;
  background-position-x: right;
}
@media screen and (max-width: 666px) {
  .secondPage1 {
    background-image: none;
  }
}

.secondPage2 {
  background-image: url(../icons/MaskCopy.svg);
  background-repeat: no-repeat;
  background-position-x: left;
}
@media screen and (max-width: 666px) {
  .secondPage2 {
    background-image: none;
  }
}

.secondPage {
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .secondPage {
    flex-direction: column;
    row-gap: 56px;
  }
}
@media screen and (max-width: 992px) {
  .secondPage__text {
    order: 2;
  }
}
.secondPage__text-title {
  font-family: "Space Mono";
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  max-width: 445px;
}
@media screen and (max-width: 992px) {
  .secondPage__text-title {
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2.14286px;
    min-width: 575px;
  }
}
.secondPage__text-titl {
  font-family: "Space Mono";
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  max-width: 445px;
}
@media screen and (max-width: 992px) {
  .secondPage__text-titl {
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2.14286px;
    min-width: 515px;
  }
}
@media (max-width: 570px) {
  .secondPage__text-titl {
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -1.42857px;
    min-width: 311px;
  }
}
.secondPage__text-decoration {
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  max-width: 445px;
  margin-top: 24px;
}
@media screen and (max-width: 992px) {
  .secondPage__text-decoration {
    min-width: 573px;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }
}
@media (max-width: 570px) {
  .secondPage__text-decoration {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    min-width: 311px;
  }
}
.secondPage__content {
  position: relative;
}
@media screen and (max-width: 992px) {
  .secondPage__content {
    order: 1;
    margin-top: 77px;
  }
}
.secondPage__content-mobility {
  border-radius: 50%;
  max-width: 445px;
}
@media screen and (max-width: 992px) {
  .secondPage__content-mobility {
    min-width: 445px;
    min-height: 445px;
  }
}
.secondPage__content-st {
  position: absolute;
  top: 268px;
  right: -168px;
}
@media (max-width: 570px) {
  .secondPage__content-st {
    position: absolute;
    left: 17px;
  }
}

.div-auto-after {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card2 {
  margin-top: 70px;
  display: block;
}
@media screen and (max-width: 992px) {
  .card2 {
    margin-top: 120px;
  }
}
.card2__title {
  font-family: "Space Mono";
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
  margin: 0 auto;
  margin-bottom: 103px;
}
.card2__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .card2__card {
    flex-direction: column;
    margin-top: 87px;
    row-gap: 55px;
  }
}
.card2__card-item {
  position: relative;
}
.card2__card-item--img {
  max-width: 240px;
  min-height: 240px;
}
.card2__card-item--span {
  min-width: 96px;
  min-height: 96px;
  border-radius: 50%;
  background-color: #FCB72B;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 205px;
  left: 125px;
  font-family: "Space Mono";
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -1.07143px;
  color: #939CAA;
}
@media screen and (max-width: 992px) {
  .card2__card-item--span {
    left: 180px;
  }
}
.card2__card-item--title {
  font-family: "Space Mono";
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -1.07143px;
  color: #495567;
  margin: 85px 0 27px 0;
}
.card2__card-item--decoration {
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #939CAA;
  max-width: 350px;
}
@media screen and (max-width: 992px) {
  .card2__card-item--decoration {
    max-width: 457px;
  }
}

.hovers {
  margin-top: 96px;
}
@media (max-width: 570px) {
  .hovers {
    text-align: center;
  }
}
.hovers__item {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1110px;
  background: #F2F5F9;
  padding: 38px 64px 37px 40px;
}
@media (max-width: 570px) {
  .hovers__item {
    padding: 36px 32px 32px 32px;
    flex-direction: column;
    row-gap: 16px;
    margin: 16px auto 0 auto;
    max-width: 311px;
  }
}
.hovers__item-inline--link {
  font-family: "Space Mono";
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
  text-decoration: none;
}
@media (max-width: 570px) {
  .hovers__item-inline--link {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.803571px;
  }
}
.hovers__item-inline--side {
  font-size: 15px;
  line-height: 25px;
  color: #495567;
  margin-top: 8px;
}
@media (max-width: 570px) {
  .hovers__item-inline--side {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }
}
.hovers__item .btn {
  min-width: 18%;
}

.hovers__item-inline--link:hover {
  text-decoration: underline;
}

.hovers__item:hover {
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.05);
}

.faqs {
  margin-top: 120px;
}
.faqs__title {
  font-family: "Space Mono";
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
}
@media (max-width: 570px) {
  .faqs__title {
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -1.42857px;
  }
}
.faqs__block {
  margin-top: 40px;
}
.faqs__block_flex {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .faqs__block_flex {
    flex-direction: column;
  }
}
.faqs__block_flex-title {
  font-family: "Space Mono";
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.78571px;
  color: #495567;
}
@media screen and (max-width: 992px) {
  .faqs__block_flex-title {
    margin: 0 auto 12px auto;
  }
}
@media (max-width: 570px) {
  .faqs__block_flex-title {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -1.07143px;
    min-width: 311px;
  }
}
.faqs__block_flex-select {
  max-width: 730px;
  background: #F2F5F9;
  padding: 32px 40px;
  margin-top: 16px;
}
@media screen and (max-width: 992px) {
  .faqs__block_flex-select {
    margin: 16px auto 0 auto;
  }
}
@media (max-width: 570px) {
  .faqs__block_flex-select {
    min-width: 311px;
  }
}
.faqs__block_flex-select--title {
  font-family: "Space Mono";
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}
@media (max-width: 570px) {
  .faqs__block_flex-select--title {
    max-width: 219px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.803571px;
  }
}
.faqs__block_flex-select--decoration {
  font-size: 15px;
  line-height: 25px;
  max-width: 650px;
  color: #495567;
  margin-top: 24px;
}
@media (max-width: 570px) {
  .faqs__block_flex-select--decoration {
    min-width: 251px;
    font-size: 15px;
    line-height: 25px;
  }
}

.flex-with-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.m {
  margin-top: 64px;
}

.before-foooter {
  background-color: #495567;
  margin-top: 178px;
  background-image: url(../icons/maskfooter.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}
.before-foooter .foot {
  background-image: url(../icons/round-footer.svg);
  background-image: url(../icons/round-footer.svg);
  background-repeat: repeat-x;
  background-position-x: inherit;
  background-position-y: bottom;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 102px 0;
}
@media screen and (max-width: 992px) {
  .before-foooter .foot {
    flex-direction: column;
    row-gap: 40px;
  }
}
.before-foooter .foot__title {
  max-width: 415px;
  font-family: "Space Mono";
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #FFFFFF;
}
@media screen and (max-width: 992px) {
  .before-foooter .foot__title {
    text-align: center;
  }
}
@media screen and (max-width: 666px) {
  .before-foooter .foot__title {
    max-width: 311px;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -1.42857px;
  }
}
.before-foooter .foot__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 35%;
}
@media screen and (max-width: 992px) {
  .before-foooter .foot__buttons {
    min-width: 40%;
  }
}
@media screen and (max-width: 666px) {
  .before-foooter .foot__buttons {
    min-width: 59%;
  }
}
@media (max-width: 570px) {
  .before-foooter .foot__buttons {
    min-width: 73%;
  }
}

footer {
  background-color: #333A44;
  padding: 35px 0 32px 0;
  justify-content: space-between;
}
@media screen and (max-width: 666px) {
  footer {
    padding: 64px 0 88px 0;
  }
}
footer .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 1110px;
}
@media screen and (max-width: 992px) {
  footer .footer {
    min-width: auto;
  }
}
@media screen and (max-width: 666px) {
  footer .footer {
    flex-direction: column;
    row-gap: 41px;
  }
}
footer .footer__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 86%;
}
@media screen and (max-width: 992px) {
  footer .footer__menu {
    min-width: 77%;
  }
}
@media screen and (max-width: 666px) {
  footer .footer__menu {
    flex-direction: column;
    row-gap: 85px;
  }
}
footer .footer__menu_logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 11%;
}
@media screen and (max-width: 992px) {
  footer .footer__menu_logos {
    min-width: 17%;
  }
}
@media screen and (max-width: 666px) {
  footer .footer__menu_logos {
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}

@media screen and (max-width: 666px) {
  .o {
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
  }
}/*# sourceMappingURL=main.css.map */