.r {
    background-image: url(../icons/Mask.svg);
    background-repeat: no-repeat;
    background-position-x: 1332px;
}

.telemetry {
    position: relative;
    @include centreItems();
    justify-content: space-between;
    margin-top: 266px;
    @include tablet() {
        flex-direction: column;
        row-gap: 56px;
    }
    &__webpimgs {
        position: relative;
        &-topper {
            position: absolute;
            left: -171px;
            top: -4px;
            @include mobils() {
                position: absolute;
                left: -26px;
                top: 121px;
            }
        }
    }
    &__text {
        @include tablet() {
            order: 2;
            text-align: center;
        }
        &-title {
            font-family: $title-font;
            font-size: 48px;
            line-height: 48px;
            letter-spacing: -2.14286px;
            color: $title-color;
            max-width: 445px;
            @include tablet() {
                font-size: 48px;
                line-height: 48px;
                text-align: center;
                letter-spacing: -2.14286px;
                min-width: 457px;
                margin: 0 auto;
            }
            @include mobile() {
                font-size: 32px;
                line-height: 32px;
                text-align: center;
                letter-spacing: -1.42857px;
                min-width: 311px;
            }
        }
        &-decoration {
            max-width: 445px;
            font-size: 15px;
            line-height: 25px;
            color: $text-color;
            margin: 24px 0 40px 0;
            @include tablet() {
                font-size: 15px;
                line-height: 25px;
                text-align: center;
                min-width: 573px;
            }
            @include mobils() {
                min-width: 311px;
                font-size: 15px;
                line-height: 25px;
                text-align: center;
            }
        }
    }
    &__both {
        position: relative;
        @include tablet() {
            order: 1;
        }
        &-st {
            position: absolute;
            right: -165px;
            bottom: 0;
            @include mobile() {
                position: absolute;
                right: 5px;
            }
        }
    }
}

.n {
    border-radius: 50%;
}

.webp {
    background-image: url(../icons/MaskCopy.svg);
    background-repeat: no-repeat;
    background-position-x: 20px;
}

.oip {
    background-image: url(../icons/MaskCopy.svg);
    background-repeat: no-repeat;
    background-position-x: 20px;
    .for {
        position: relative;
        &__radius {
            border-radius: 50%;
        }
        &__deg {
            position: absolute;
            top: 84px;
            right: -165px;
        }
    }
}

.b {
    min-width: 445px;
    min-height: 445px;
}

.secondPage1 {
    background-image: url(../icons/Mask.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    @include mobile() {
        background-image: none;
    }
}

.secondPage2 {
    background-image: url(../icons/MaskCopy.svg);
    background-repeat: no-repeat;
    background-position-x: left;
    @include mobile() {
        background-image: none;
    }
}

.secondPage {
    margin-top: 120px;
    @include centreItems();
    justify-content: space-between;
    @include tablet() {
        flex-direction: column;
        row-gap: 56px;
    }
    &__text {
        @include tablet() {
            order: 2;
        }
        &-title {
            font-family: $title-font;
            font-size: 48px;
            line-height: 48px;
            letter-spacing: -2.14286px;
            color: $title-color;
            max-width: 445px;
            @include tablet() {
                font-size: 48px;
                line-height: 48px;
                text-align: center;
                letter-spacing: -2.14286px;
                min-width: 575px;
            }
        }
        &-titl {
            font-family: $title-font;
            font-size: 48px;
            line-height: 48px;
            letter-spacing: -2.14286px;
            color: $title-color;
            max-width: 445px;
            @include tablet() {
                font-size: 48px;
                line-height: 48px;
                text-align: center;
                letter-spacing: -2.14286px;
                min-width: 515px;
            }
            @include mobils() {
                font-size: 32px;
                line-height: 32px;
                text-align: center;
                letter-spacing: -1.42857px;
                min-width: 311px;
            }
        }
        &-decoration {
            font-size: 15px;
            line-height: 25px;
            color: #939CAA;
            max-width: 445px;
            margin-top: 24px;
            @include tablet() {
                min-width: 573px;
                font-size: 15px;
                line-height: 25px;
                text-align: center;
            }
            @include mobils() {
                font-size: 15px;
                line-height: 25px;
                text-align: center;
                min-width: 311px;
            }
        }
    }
    &__content {
        @include tablet() {
            order: 1;
            margin-top: 77px;
        }
        position: relative;
        &-mobility {
            border-radius: 50%;
            max-width: 445px;
            @include tablet() {
                min-width: 445px;
                min-height: 445px;
            }
        }
        &-st {
            position: absolute;
            top: 268px;
            right: -168px;
            @include mobils() {
                position: absolute;
                left: 17px;
            }
        }
    }
}

.div-auto-after {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card2 {
    margin-top: 70px;
    display: block;
    @include tablet() {
        margin-top: 120px;
    }
    &__title {
        font-family: $title-font;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        letter-spacing: -2.14286px;
        color: $title-color;
        margin: 0 auto;
        margin-bottom: 103px;
    }
    &__card {
        @include centreItems();
        justify-content: space-between;
        @include tablet() {
            flex-direction: column;
            margin-top: 87px;
            row-gap: 55px;
        }
        &-item {
            position: relative;
            &--img {
                max-width: 240px;
                min-height: 240px;
            }
            &--span {
                min-width: 96px;
                min-height: 96px;
                border-radius: 50%;
                background-color: #FCB72B;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                top: 205px;
                left: 125px;
                font-family: $title-font;
                font-size: 24px;
                line-height: 28px;
                text-align: center;
                letter-spacing: -1.07143px;
                color: $text-color;
                @include tablet() {
                    left: 180px;
                }
            }
            &--title {
                font-family: $title-font;
                font-size: 24px;
                line-height: 28px;
                text-align: center;
                letter-spacing: -1.07143px;
                color: $title-color;
                margin: 85px 0 27px 0;
            }
            &--decoration {
                font-size: 15px;
                line-height: 25px;
                text-align: center;
                color: $text-color;
                max-width: 350px;
                @include tablet() {
                    max-width: 457px;
                }
            }
        }
    }
}